<div [attr.id]="id" *ngIf="gameSvc.initialized">
    <div class="game-header">

    </div>
    <div class="game-board">
        <div *ngFor="let row of gameSvc.rows" class="board-row" [ngClass]="row.rowClass" [style.height.px]="row.tileHeight">
            <ng-container *ngIf="row.backgroundTileClass">
                <div *ngFor="let tile of row.tiles" class="board-tile" [ngClass]="row.backgroundTileClass">
                </div>
            </ng-container>
        </div>
        <div *ngFor="let player of gameSvc.players" class="frogger-player" [class.moving]="player.moving" [class.facing-up]="player.moveDireciton === 'up'"
            [class.facing-right]="player.moveDireciton === 'right'" [class.facing-down]="player.moveDireciton === 'down'" [class.facing-left]="player.moveDireciton === 'left'"
            [ngClass]="(player.numberClass + ' ' + player.entity.shape?.cssClass)" [style.left.px]="player.x" [style.top.px]="player.y">
        </div>
    </div>
    <div class="game-footer">

    </div>
</div>