.game-board {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .board-row {
        display: block;
        margin: 0 0 -10px 0;
        padding: 0 0 10px 0;
        box-sizing: border-box;
        .board-tile {
            display: inline-block;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }
}