.entity-frogger {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcBAMAAACE1hKaAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAACHDwAAjA8AAP1SAACBQAAAfXkAAOmLAAA85QAAGcxzPIV3AAAAD1BMVEUAAAAdwwDg4AC+2/////9cSvnKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAB+SURBVBjTjdGLDYAgDATQwwmsLoDdwLj/bl57fjAa1QTT10CBApQe6My9IsP8Oe0KizVmHGOZyXHJ2C62m7WG3tZyMB2OIDcIuTL4NhpDX5eZCjya862Zz3pDejrqv5vHdF2g/HH0RGYpZD8gHv1pXXQp6Gj9zXqUzfv7nF4B91MZX1VcGMoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMDFUMDA6MTE6MzkrMDI6MDAbaNv5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTAxVDAwOjExOjM5KzAyOjAwajVjRQAAAABJRU5ErkJggg==');
    width: 30px;
    height: 28px;
}

.entity-car3 {
    width: 42px;
    height: 36px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHhYgJbUQeNYAAACzSURBVFjDY2AYBSMUMBKrsPUBw390sWoF4vXjM4cYc5mGbogevoni4wfVpBuqcEgdw9wHdjf/U2LOkAnRUYdSG7Cgp01S0qRCK3bxB9UQs1DkyUjr8Pxiq844BHM91PWtsuooCqLjbhIMSWrEAjbzRnP9qENRcj2eNDkaoqMOHXXocM71SxepD8pSYDTqR6xDGWnTHsWUJ6vvBdM/NNujo73Q0Vw/VNIoDjA69jQKRgF+AACz30G90w5NiwAAAABJRU5ErkJggg==');
}

.entity-car1 {
    width: 42px;
    height: 36px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHhYgLbvL8OQAAACmSURBVFjD7VjLDYAgDC2GQXpjKEfx7CgOxa2b6EmjAZFGNAFeT6R88vLa15Qa+tGEaNWcZyKzrweqxKoBar8KVbeMAmi3QFXJP5M/xDWRKyKc/c2n99pgVERXnkoZc4irXkZzWFzYJ/dHceo7KE8AepejucrOybEgN/na4ST9Ed9Z/Qg9gKLgo+Cje+qke8JXBF+RqJgKT0oEQzIAbRiofSMOMBqxDSSwMh8ZzlqvAAAAAElFTkSuQmCC');
}

.entity-car4 {
    width: 42px;
    height: 36px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHhYgNainaLIAAAC2SURBVFjD7VjbCYAwDLyKawj+dYos4oAu0in6JziIfojgq2qlPiJ3nyVNQ3o5rjVYoAE6RKAEDB5ABiVQU2j+xCEp6MSrZ6FfxykNLNwwDK2k0cwxX0xOvR11zndvFyVi9cqTmfLlKmr41VoFe2lfqLOUJ+ronplo3cClQuymcZiajjE2hq9HXNVt82Y6KuFOnI3jMFHwKfh0Tz93T3yK8CmS8lfjjpwcJhaqzo/egTLBr7SajvZDajtJT2viTAAAAABJRU5ErkJggg==');
}

.entity-car2 {
    width: 42px;
    height: 36px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHhYhAOcPndAAAADdSURBVFjD7VjBDYMwDDwq1kDqL1NkEQbsIpkiv0oMQj9NZJBNAqraJrp72gYschdfMkDgCawAsISYY5N3sGJW/A4MqEQIcbVy3rv8nhsaARv9NMZ/aUTyXuN4M39UVecUkJW4+GMFH9XKnIUHIqh6NnpW9RveVPCsplbyTXumG9WPtXPXwgxnroiWsyA9Q3h7DqqejdbM+hLP5A6xr5U5X3hPN6pnoxTTFRtWEhs3/OYc/pWZX4LlntK3uI/ycMfD3S8d/u62TouprifVpiUr0abLMxMvyc6Cs/7beAGsrWKQ+8PUuQAAAABJRU5ErkJggg==');
}

.entity-car5 {
    width: 70px;
    height: 30px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAeCAYAAACR82geAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sMARI3C9EWwooAAACiSURBVGje7ZlBCoAgEEXH6BpBO0/h6ecU7oQOUqusIFHLCOq9bQzk8zeSYyTDoDKnnk1OTG1NSf3TlKypEzgl7liQzeKkvqjYORvrVf38JTEkBjGIaUK/9pbSvkJi/p6YO8WHk4zE8CkhBhCDGMQgBjGIQQxiEIMY/q4vMO7ujFWEO99fJGbd9eBs9ZSAHoMYQEyG7Oy49ez6rXl17fuRmAQLvKYohjG2RUMAAAAASUVORK5CYII=');
}

.game-board {
    .row-road {
        background: black;
    }
    .row-water {
        background: #1830AC;
    }
    .row-goal {
        background: #1830AC;
    }
    .row-path {
        background: transparent;
    }
    .board-row {
        .board-tile.tile-path {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAAAUPewAANYUmOz///+jBRhbAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADASURBVDjLpZThAcQQDIXZQExwdIPaf7eTR4NSRy9/Iu/TRLSNUmKaiEwJySRBE3tiBaEAaoxB2kkDMLY3wDv21iP0cCw9Ax/O6OwRWLIhxADSC7Bf/K/OU9IepPOtgHygGljvJiA33RQ/wnmB67EVAK3kuxUfAqxaUDWYalSVfoI6IV7KDkgvXgDS2/JFTMG9Q6nxBKB1rSsaXu8cdFp/JXsAv/sQ8EgwvIo7HEYEtmoArAUoATw4NOf85DkDedW+eA1WDUF41woAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMzFUMjM6MTM6NTArMDI6MDAJaj88AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTMxVDIzOjEzOjUwKzAyOjAweDeHgAAAAABJRU5ErkJggg==');
        }
        .board-tile.tile-goal {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAABIBAMAAADBtZBmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAADdPQAAAAAcwAAUiQAcwQLdPQIYMKz///9co3z1AAAAAXRSTlMAQObYZgAAAAFiS0dECIbelXoAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVFjD3VfBbsIwDDWH9V72BcsXoKU/gOZy3oHs3MPwH0z8/uzYKS2wUATSoliKcJ3nV2o/Bwpt65xbO9dG8+/sOffWtmteEoxLEAZgBAemAAc1ceCWP1+9R4V0fO19Zwm859EQiMrRSTABIroYDv+4FcOBH+Ylp7OVDEfEH4ByOKRd3FFUuGVtY7u9XGJrCN0y3ikAq+KYtzrWTzUNqyjxDbublSob9I4X+qiJIwREJKKAfYj2RQM0BMAxaNRt2OcFEiH6DhG730mWpBfEwWbpxgE5IzoYcI+oTlkc8ljJ+YQhQ8H1OOCIlVqWxiH1QOsVx3J2KtyVmtbCYbFR65maHo8/4czA7n2fxuQ7J6nxvNTEkY4N5JqS7CyauX0ikOxiOKaliKK5OXPnBXwWh53Jk1jOxke4dq7/O0ewue2TxrL1AHgZZ/Ry9ivgSJK7Z+akkv1EH8/gEIttWjQvzey3Ui+q4oh6tTYtmNv5WYjhdJ4WwDH2+dTwrD70HJyJqiqOcG6L5/a5HPGvi7SLSMW6uzW3EUb6yejKOEhSBtsjVvpt01eQQd9GSAOPcvwCsDl1PyvDURwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMDFUMDM6NDQ6NDArMDI6MDCugZz7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTAxVDAzOjQ0OjQwKzAyOjAw39wkRwAAAABJRU5ErkJggg==');
            width: 134px;
            height: 72px;
        }
    }
    .frogger-player.moving {
        transition: 0s;
        animation: frogger-move 100ms infinite step-end;
    }
}

@keyframes frogger-move { 
    0% { 
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAmBAMAAAAhNzZRAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAACHDwAAjA8AAP1SAACBQAAAfXkAAOmLAAA85QAAGcxzPIV3AAAAD1BMVEUAAAAdwwDg4AC+2/////9cSvnKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABxSURBVCjPtdFhCoAgDAVgvYGvTtBuEN7/br1NJ6HBKMgf4idubppSLsmHLQMDnOTYRGggdKbrSe7V1rM16XC/D6A11gx0W+rF3JA2GhezHD2vBf1kWL/46Dz6KU/WR+xh3v87B/+Lm+FBo7LQc/yU/wKFBBgq7fnFcAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNC0wOFQyMjowNjowMyswMjowME6MONUAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDQtMDhUMjI6MDY6MDMrMDI6MDA/0YBpAAAAAElFTkSuQmCC');
        height: 38px;
        transition: 0s;
    }
    // 40% {
    //     height: 28px;
    //     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcBAMAAACE1hKaAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAACHDwAAjA8AAP1SAACBQAAAfXkAAOmLAAA85QAAGcxzPIV3AAAAD1BMVEUAAAAdwwDg4AC+2/////9cSvnKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAB+SURBVBjTjdGLDYAgDATQwwmsLoDdwLj/bl57fjAa1QTT10CBApQe6My9IsP8Oe0KizVmHGOZyXHJ2C62m7WG3tZyMB2OIDcIuTL4NhpDX5eZCjya862Zz3pDejrqv5vHdF2g/HH0RGYpZD8gHv1pXXQp6Gj9zXqUzfv7nF4B91MZX1VcGMoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMDFUMDA6MTE6MzkrMDI6MDAbaNv5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTAxVDAwOjExOjM5KzAyOjAwajVjRQAAAABJRU5ErkJggg==');
    //     transition: 0s;
    // }
    // 60% { 
    //     height: 38px;
    //     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAmBAMAAAAhNzZRAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAACHDwAAjA8AAP1SAACBQAAAfXkAAOmLAAA85QAAGcxzPIV3AAAAD1BMVEUAAAAdwwDg4AC+2/////9cSvnKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABxSURBVCjPtdFhCoAgDAVgvYGvTtBuEN7/br1NJ6HBKMgf4idubppSLsmHLQMDnOTYRGggdKbrSe7V1rM16XC/D6A11gx0W+rF3JA2GhezHD2vBf1kWL/46Dz6KU/WR+xh3v87B/+Lm+FBo7LQc/yU/wKFBBgq7fnFcAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNC0wOFQyMjowNjowMyswMjowME6MONUAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDQtMDhUMjI6MDY6MDMrMDI6MDA/0YBpAAAAAElFTkSuQmCC');
    //     transition: 0s;
    // }
}