.entity-frogger {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcBAMAAACE1hKaAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAACHDwAAjA8AAP1SAACBQAAAfXkAAOmLAAA85QAAGcxzPIV3AAAAD1BMVEUAAAAdwwDg4AC+2/////9cSvnKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAB+SURBVBjTjdGLDYAgDATQwwmsLoDdwLj/bl57fjAa1QTT10CBApQe6My9IsP8Oe0KizVmHGOZyXHJ2C62m7WG3tZyMB2OIDcIuTL4NhpDX5eZCjya862Zz3pDejrqv5vHdF2g/HH0RGYpZD8gHv1pXXQp6Gj9zXqUzfv7nF4B91MZX1VcGMoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMDFUMDA6MTE6MzkrMDI6MDAbaNv5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTAxVDAwOjExOjM5KzAyOjAwajVjRQAAAABJRU5ErkJggg==');
    width: 30px;
    height: 28px;
}

.entity-car1 {
    width: 42px;
    height: 36px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHhYgJbUQeNYAAACzSURBVFjDY2AYBSMUMBKrsPUBw390sWoF4vXjM4cYc5mGbogevoni4wfVpBuqcEgdw9wHdjf/U2LOkAnRUYdSG7Cgp01S0qRCK3bxB9UQs1DkyUjr8Pxiq844BHM91PWtsuooCqLjbhIMSWrEAjbzRnP9qENRcj2eNDkaoqMOHXXocM71SxepD8pSYDTqR6xDGWnTHsWUJ6vvBdM/NNujo73Q0Vw/VNIoDjA69jQKRgF+AACz30G90w5NiwAAAABJRU5ErkJggg==');
}

.game-board {
    .row-road {
        background: black;
    }
    .row-water {
        background: #1830AC;
    }
    .row-goal {
        background: #1830AC;
    }
    .row-path {
        background: transparent;
    }
    .board-row {
        .board-tile.tile-path {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAAAUPewAANYUmOz///+jBRhbAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADASURBVDjLpZThAcQQDIXZQExwdIPaf7eTR4NSRy9/Iu/TRLSNUmKaiEwJySRBE3tiBaEAaoxB2kkDMLY3wDv21iP0cCw9Ax/O6OwRWLIhxADSC7Bf/K/OU9IepPOtgHygGljvJiA33RQ/wnmB67EVAK3kuxUfAqxaUDWYalSVfoI6IV7KDkgvXgDS2/JFTMG9Q6nxBKB1rSsaXu8cdFp/JXsAv/sQ8EgwvIo7HEYEtmoArAUoATw4NOf85DkDedW+eA1WDUF41woAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMzFUMjM6MTM6NTArMDI6MDAJaj88AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTMxVDIzOjEzOjUwKzAyOjAweDeHgAAAAABJRU5ErkJggg==');
        }
        .board-tile.tile-goal {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAABIBAMAAADBtZBmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAADdPQAAAAAcwAAUiQAcwQLdPQIYMKz///9co3z1AAAAAXRSTlMAQObYZgAAAAFiS0dECIbelXoAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVFjD3VfBbsIwDDWH9V72BcsXoKU/gOZy3oHs3MPwH0z8/uzYKS2wUATSoliKcJ3nV2o/Bwpt65xbO9dG8+/sOffWtmteEoxLEAZgBAemAAc1ceCWP1+9R4V0fO19Zwm859EQiMrRSTABIroYDv+4FcOBH+Ylp7OVDEfEH4ByOKRd3FFUuGVtY7u9XGJrCN0y3ikAq+KYtzrWTzUNqyjxDbublSob9I4X+qiJIwREJKKAfYj2RQM0BMAxaNRt2OcFEiH6DhG730mWpBfEwWbpxgE5IzoYcI+oTlkc8ljJ+YQhQ8H1OOCIlVqWxiH1QOsVx3J2KtyVmtbCYbFR65maHo8/4czA7n2fxuQ7J6nxvNTEkY4N5JqS7CyauX0ikOxiOKaliKK5OXPnBXwWh53Jk1jOxke4dq7/O0ewue2TxrL1AHgZZ/Ry9ivgSJK7Z+akkv1EH8/gEIttWjQvzey3Ui+q4oh6tTYtmNv5WYjhdJ4WwDH2+dTwrD70HJyJqiqOcG6L5/a5HPGvi7SLSMW6uzW3EUb6yejKOEhSBtsjVvpt01eQQd9GSAOPcvwCsDl1PyvDURwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMDFUMDM6NDQ6NDArMDI6MDCugZz7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTAxVDAzOjQ0OjQwKzAyOjAw39wkRwAAAABJRU5ErkJggg==');
            width: 134px;
            height: 72px;
        }
    }
}